<div class="card">
  <div class="card-body message row">
    <div class="col-3 message-name text-secondary">
      <%= message.user.username %>
    </div>
    <div class="col-9 message-body">
      <%= message.body %>
    </div>
  </div>
</div>