<div class="container mb-10">
  <h1 class="mx-auto d-block text-center">
    chattr
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="container col-8 bg-light">
     <h4 class="text-center mt-2"> chatroom </h4>
      <div class="chat-body flex-column">
        <div class="chat-card card">
          <div class="container">
            <div class="card">
              <div class="card-body row">
                <div class="col-3 message-name text-secondary">
                  Name
                </div>
                <div class="col-9 message-body">
                  message text
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="card mt-5 message-submit bg-info">
          <div class="container">
            <form class="form-inline">
              <div class="form-group col-sm-10">
                <label for="message" class="sr-only">Message</label>
                <input type="text" class="form-control flex-grow-1" id="message" placeholder="Message">
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div>
  
      
    <div class="container col-4 chat-nav flex-column mt-2 mb-3">
      <div class="card bg-info">
      <h5 class="text-light text-center"> users online </h5>
        <ul class="nav text-light rounded flex-column ">
          <li class="nav-item mx-3 mb-1">
          1
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>