<div class="container mb-10">
  <h1 class="mx-auto d-block text-center">
    chattr
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="container col-12 bg-light">
     <h4 class="text-center mt-2"> chatroom </h4>
      <div class="chat-body flex-column">
        <div class="chat-card card" id="messages">
          <div class="container" id="message-container">
            <%= render @messages %>
          </div>
      </div>
      <div class="card mt-5 message-submit bg-info">
          <div class="container">
          <%= form_for(@message, html: {class: "form-inline", role: "form"}, url: message_path, remote: true) do |f| %>
            <div class="form-group col-sm-10">
              <%= f.text_field :body, placeholder: "Message", class: "form-control col-sm-12", html: {onfocus: "this.value=''"} %>
            </div>
              <%= f.button "Submit", class: "btn btn-dark"%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  
  </div>
</div>