<% flash.each do |message_type, message_content| %>
  <div class="alert alert-secondary">
    <i class="close icon"></i>
    <div class="header">
      <%= message_content %>
    </div>
  </div>
<% end %>